.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 홈 버튼 스타일 */
.main-title.h1 {
   margin: 20px 0px 20px;
}

/* 마우스 클릭할 때 */
.clicked{
   color: gray;
}

/* 마우스 클릭 뗄 때 */
.unclicked {
   color: black;
}

/* 문의 목록 배치 */
.pagination-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}

/* 문의 목록 조절 */
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

/* 드롭다운 초기 */
.custom-dropdown {
   background-color: rgba(255, 255, 255, 0);
   color: black;
   margin-right: 10px;
   height: 45px;
}

/* 드롭다운 메뉴 */
.custom-dropdown-menu {
    width: 30px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
}

/* 드롭다운 아이템*/
.custom-dropdown-menu .dropdown-item {
    color: black;
}

/* 드롭다운 메뉴 호버 색상 */
.custom-dropdown-menu .dropdown-item:hover {
    background-color: #ced4da; 
    color: black;
}

/* 문의 등록 버튼 */
.cs-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    display: block;
}

/* 문의 등록 버튼 색상 조절 */
.cs-btn .btn-primary {
    background-color: #ced4da;
    border-color: #ced4da;
    color: #3b3b3b;
    font-weight: bold;
}

/* 문의 등록 버튼 호버*/
.cs-btn .btn-primary:hover {
    background-color: #5C636A;
    border-color: #5C636A;
    color: white;
}

/* 문의 목록 타이틀 */
.register-text {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
}

/* 문의 목록 */
.cs-list {
   margin-top: 20px;
   margin-bottom: 10px;
}

/* 검색 버튼 */
.search-btn {
   margin-right: auto;
   min-width: 60px;
   margin-top: 10px;
   max-height: 45px;
   background-color: #3b3b3b;
   color: white;
   border: 1px solid #3b3b3b;
}

/* 검색 버튼 호버 */
.search-btn:hover {
   margin-right: auto;
   min-width: 60px;
   margin-top: 10px;
   max-height: 45px;
   background-color: #3b3b3b;
   border: 1px solid #ced4da;
}

/* 검색 박스 */
.search-box {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
}

/* 테이블 설정 */
.table td, .table th {
    text-align: center;
    vertical-align: middle;
}

/* 문의 상세 보기 버튼 */
.table .btn-info {
    float: right;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #ced4da;
      transition: background-color 0.3s, border-color 0.3s;
}

/* 문의 상세 보기 버튼 호버 */
.table .btn-info:hover {
    background-color: #21E6C1;
    border-color: #21E6C1;
    color: #3b3b3b;
    font-weight: bold;
}

/* 페이징 */
.pagination-controls {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

/* 문의 목록 버튼 */
.cs-select-btn {
   background-color: #ced4da;
    border-color: #ced4da;
    color: #3b3b3b;
    font-weight: bold;
}


/********** member>modal>LoginModal.js **********/

/* 닫기 버튼 아래 라인 없애기 */
.login-modal-close .modal-header {
  border-bottom: none;
  margin-top: 10px;
  margin-right: 10px;
}

/* 로고 */
.login-modal-header {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 11.5px;
   font-family: 'Jua';
}

/* 제목에 여백 추가 */
.login-modal-header h1 {
   margin-left: 10px;
   margin-top: 10px;
   font-size: 50px;
}

/* 아이디, 비밀번호 입력 칸, 로그인 버튼 위치 */
.login-modal-input {
   margin: 25px 15px 30px 15px;
   
}

/* 아이디 input 박스 높이 조정 */
.input-id .form-control {
  height: 45px;
}

/* 비밀번호 input 박스 높이 조정 */
.input-password .form-control {
  height: 45px;
}

/* 로그인 버튼 */
.login-modal-loginbtn {
   margin-bottom: 30px;
   background-color: #21E6C1 !important;
   color: white !important;
   border: none !important;
   margin-right: 15px;
   max-width: 436.4px;
   width: 100%;
   height: 50px;
   font-weight: bold !important;
   font-size: 20px !important;
   
}

/* 로그인 버튼 호버 */
.login-modal-loginbtn:hover {
  background-color: #15bd9b!important; /* 마우스 호버 시 배경색 변경 */
}

/* 아이디 찾기, 비밀번호 찾기 위치 */
.login-modal-search {
   margin-left: 15px;
   margin-bottom: 70px;
}

/* 아이디 찾기 */
.login-modal-searchid {
   margin-right: 10px;
   color: #B4B4B4;
   font-weight: bold;
}

/* 비밀번호 찾기 */
.login-modal-searchpassword {
   margin-right: 10px;
   color: #B4B4B4;
   font-weight: bold;
}

/* 회원가입 버튼 위치 */
.login-modal-join {
   margin-left: auto;
   margin-right: 15px;
}

/* 회원가입 버튼 스타일 */
.login-modal-joinbtn {
   color: #21E6C1;
   font-weight: bold;
}

/* Footer 라인 없애기 */
.login-modal-sns .modal-footer {
  border-top: none; /* Modal.Footer의 상단 라인 없애기 */
}



/* 간편 로그인 */
.login-modal-sns-text {
  display: flex;
  align-items: center;
  color: #7B7B7B; /* 텍스트 색상 */
  font-weight: bold; /* 텍스트 굵기 */
  flex: 1;
  text-align: center;
  position: relative;
}

/* 간편 로그인 왼쪽 라인 */
.login-modal-sns-text::before {
content: '';
flex-grow: 1;
background: #7B7B7B;
height: 0.5px;
margin: 0 30px;

}

/* 간편 로그인 오른쪽 라인 */
.login-modal-sns-text::after {
content: '';
flex-grow: 1;
background: #7B7B7B;
height: 0.5px;
margin: 0 30px;
}


.login-modal-snsbtn {
  display: flex;
  justify-content: center;
  gap: 38px;
  margin-bottom: 50px;
  
  
}


/************************************************/